.information__container {
  padding: 10px;
  border-bottom: 2px solid #606dbc;
}

.information__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.information__link {
  display: block;
}
.information__link:not(:last-child) {
  margin-bottom: 10px;
}
.information__button {
  display: flex;
  margin-bottom: 10px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color: #606dbc;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}
