.information__container {
  padding: 10px;
  border-bottom: 2px solid rgb(4, 25, 209);
}

.information__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.information__link {
  display: block;
}
.information__link:not(:last-child) {
  margin-bottom: 10px;
}
